<%- include('shared/header', {title: title}); %>
    <div>
        <label for="">Username</label>
        <span><%= userProfile.displayName %></span>
    </div>
    <div> 
        <label for="">Picture</label>
        <div>
            <img src="<%= userProfile.picture %>" alt="Profile Pic" style="max-width: 150px;">
        </div>
        
    </div>
<%- include('shared/footer'); %>